html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.places-container {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	width: 300px;
}

.map-container {
	width: 100%;
	height: 100vh;
}

.combobox-input {
	width: 100%;
	padding: 0.5rem;
}

.odiv {
	margin-left: 500px;
}

.leaflet-container {
	height: 100vh;
	width: 100vw;
}

.custom-height {
	height: 100vh;
	width: 50vw;
}

.tempc {
	margin-top: 20vh;
	margin-left: 13vw;
}

.tempd {
	margin-top: 10vh;
	margin-left: 13vw;
}

.error-text {
	color: red;
}
.file-share-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.input-section {
	margin-bottom: 20px;
}

.file-section {
	align-items: center;
}

.received-number {
	font-weight: bold;
	margin-bottom: 10px;
	color: #ff5733; /* Orange color for received number */
}

input[type="number"] {
	padding: 8px;
	margin-right: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

button {
	padding: 8px 15px;
	background-color: #186106; /* Yellow button background */
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #ffc107; /* Darker yellow on hover */
}

input[type="file"] {
	display: none; /* Hide the file input */
}

.file-upload-label {
	padding: 8px 15px;
	background-color: #3498db; /* Blue color for file upload button */
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.file-upload-label:hover {
	background-color: #2980b9; /* Darker blue on hover */
}

.file-receive-button {
	margin-top: 10px;
}

.file-upload-label {
	margin-bottom: 20px;
}
